 :root {
     --text-color: #525252;
     --desc-color: #777;
     --card-color: rgba(206, 203, 203, 0.164);
     --border-color: #aaa;
     --btn-black: black;
     --btn-white: white;
     --bnt-text: white;
 }

 body.dark {
     --text-color: #e9e8e8;
     --desc-color: #b8b1b1;
     --card-color: rgba(255, 255, 255, 0.027);
     --btn-black: white;
     --bnt-text: black;
     background-image: url(/assets/imagens/fundo_preto.svg);
 }  

 body {
     margin: 0;
     padding: 0;
     background-image: url(/assets/imagens/fundo_branco.svg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100vh;
     color: var(--text-color);
     font-family: 'Poppins';
     font-weight: bolder;
     text-align: center;
 }

 #logo {
     width: 40px;
 }

 #icon {
     width: 50px;
     cursor: pointer;
 }

 .theme {
     background-color: transparent;
     border: none;
 }

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 40px;
 }

 nav {
     background: var(--card-color);
     padding: 8px 25px;
     border-radius: 20px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
     margin-left: 14%;
 }

 nav a {
     margin: 0 12px;
     color: var(--text-color);
     font-weight: 500;
     cursor: pointer;
     font-size: 16px;
 }

 .right-buttons {
     display: flex;
     align-items: center;
     gap: 20px;
 }

 .button-top-right {
     padding: 6px 14px;
     border: 1px solid var(--border-color);
     border-radius: 20px;
     text-decoration: none;
     color: var(--text-color);
     font-size: 16px;
     font-weight: normal;
 }

 .profilephoto {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     object-fit: cover;
     margin-bottom: 5px;
 }

 main {
     margin-top: 15px;
     padding: 2px;
     min-height: 300px;
 }

 .subtitle {
     margin-inline: 20%;
     font-size: 16px;
     margin-bottom: 10px;
 }

 .title {
     margin-top: 10px;
     margin-inline: 25%;
     font-size: 35px;
     margin-bottom: 10px;
 }

 .description {
     margin-top: 5px;
     margin-inline: 28%;
     font-size: 16px;
     color: var(--text-color);
     font-weight: normal;
     margin-bottom: 3%;
 }

 .button-bottom {
     align-items: center;
 }

 .button-cv {
     padding: 12px 28px;
     border: 1px solid var(--border-color);
     border-radius: 20px;
     text-decoration: none;
     color: var(--text-color);
     font-size: 20px;
 }

 /* ABOUT-ME */

 .about-me {
     padding: 20%;
 }

 .head {
     text-align: center;
     margin-bottom: 15px;
 }

 .subtitle {
     font-size: 16px;
     margin-bottom: 5px;
 }

 .main-title {
     font-size: 35px;
     margin: 0;
 }

 .about-me .description {
     font-size: 16px;
     color: var(--text-color);
     font-weight: normal;
     text-align: center;
     margin: 15px auto 40px;
     max-width: 700px;
 }

 .card-aboutme {
     display: flex;
     align-items: flex-start;
     justify-content: center;
     gap: 30px;
     max-width: 1100px;
     margin: 0 auto;
 }


 .card-info-group {
     display: flex;
     gap: 20px;
     justify-content: center;
     flex: 1;
 }

 .card-info {
     flex: 1;
     background-color: var(--card-color);
     border: 1px solid var(--border-color);
     padding: 20px;
     border-radius: 15px;
     text-align: center;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
     transition: transform 0.3s ease;
 }

 .card-info:hover {
     transform: scale(1.03);
     box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.2);
     background-color: rgba(0, 0, 0, 0.05);
 }

 .card-info img {
     width: 35px;
     margin-bottom: 10px;
 }

 .card-info h2 {
     font-size: 16px;
     margin: 0 0 8px;
 }

 .card-info p {
     font-size: 14px;
     color: var(--desc-color);
 }

 .card-tec {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
 }

 .card-tec:hover {
     transform: translateY(-8px);
 }

 /* Contate me */

 #contato {
     padding: 40px;
     background-color: var(--bg-color);
     color: var(--text-color);
     text-align: center;

 }

 .form-contato {
     max-width: 600px;
     margin: auto;
     display: flex;
     flex-direction: column;
     gap: 15px;
     font-family: 'Poppins';
 }

 .form-contato input,
 .form-contato textarea {
     padding: 10px;
     border: 1px solid var(--border-color);
     border-radius: 8px;
     font-size: 16px;
     background-color: var(--card-color);
     color: var(--text-color);
 }

 .form-contato button {
     padding: 12px;
     background-color: var(--btn-black);
     color: var(--bnt-text);
     border: none;
     border-radius: 8px;
     cursor: pointer;
     font-size: 16px;
     transition: background 0.3s;
     font-family: 'Poppins';
 }

 .form-contato button:hover {
     background-color: #333;
 }

 .rodape {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #logo-final {
     width: 40px;
     margin-inline: 10px;
     text-align: center;
 }

 /* Projects */

 article {
     display: flex;
     gap: 20px;
     justify-content: center;
 }

 .projects-cards {
     width: 300px;
     height: 340px;
     border: 1px solid var(--border-color);
     border-radius: 8px;
     box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px;
     transition: transform 0.3s ease;
     text-decoration: none;
     color: var(--text-color);
     overflow: hidden;
 }

 .projects-cards:hover {
     transform: scale(1.03);
 }

 .projects-cards img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 8px;
 }

 .card-cs {
     flex-direction: column;
     text-align: center;
     border-color: var(--border-color);
 }

 .card-cs h2 {
     font-size: 1.4rem;
     margin-bottom: 10px;
 }

 .card-cs p {
     font-size: 15px;
 }